SUPABASE_URL=SUPABASE_URL=https://your-project.supabase.co

SUPABASE_KEY=anon_key

STELLAR_SECRET_KEY=stellar-secret-key

STELLAR_NETWORK=testnet

OPENAI_API_KEY=your-openai-key
OPENAI_MODEL=gpt-4o

GROQ_API_KEY=your-groq-key
GROQ_MODEL=llama-3.3-70b-versatile

APP_ENV=development

APP_PORT=8000

# db password @08033806964Favour