SUPABASE_URL=SUPABASE_URL=https://your-project.supabase.co

SUPABASE_KEY=anon_key

STELLAR_SECRET_KEY=stellar-secret-key

STELLAR_NETWORK=testnet

OPENAI_API_KEY=openai-api-key

APP_ENV=development

APP_PORT=8000

# db password @08033806964Favour